/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/10/2017, 17:39:39
    Author     : RomarioLima
*/

h1 {
    color:#b92c28;
    
}
.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}
.car-right{
    position: absolute;
    left: auto;
    right:0;
    
}
.jumbotron.down {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  color: inherit;
}
.jumbotext {
    color: white;
    
}
.vcenter {
    top:50%;
}
.center-row{
    vertical-align: middle;
}
.jumbospecial{
    background-color: #b92c28;
    border-radius: 0 0 10px 10px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;   
}
.link{
    color: white;
}
.link:hover{
    color: pink;
}
.vtext{
    vertical-align: middle;
}
.blue{
    color:#3333ff;
    
}
.red{
    color:#b92c28;
}
.c-center{
    margin: auto;
}